<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>COMPUT.</title>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="assets/css/bootstrap.css">

<link rel="stylesheet" href="assets/vendors/iconly/bold.css">

<link rel="stylesheet"
	href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
<link rel="stylesheet"
	href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
<link rel="stylesheet" href="assets/css/app.css">
<link rel="icon" href="images/favicon.png" type="images/png">

<!-- TOAST UI CDN -->
<link rel="stylesheet"
	href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet"
	href="https://uicdn.toast.com/grid/latest/tui-grid.css" />

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />

<style>
.tui-grid-cell {
	/* !important -> 우선순위 높아짐 */
	background-color: #ffffff !important;
}

.display-flex {
	display: flex;
}

.buttons {
	/* 페이지명과 같은 위치에서 버튼을 오른쪽에 두기 위함 */
	margin-left: auto
}

.buySelect {
	width: 150px !important;
}

.row mb-4 {
	display: flex;
	align-items: center
}

.checkbox-container {
	display: inline-flex;
	gap: 40px;
}

/* 테이블 스크롤 */
.table-responsive {
	height: 500px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
</style>

</head>

<body>

	<div id="app">

		<!-- 사이드 메뉴바-->
		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!-- 메인 content -->
		<div id="main">


			<div class="display-flex">
				<h3>설비 이력</h3>
			</div>
			<!-- display-flex -->

			<div class="card">
				<div class="card-body" id="default">
					<section class="section">
						<div class="row" id="basic-table">
							<form>

								<!-- 검색 조건 시작 -->
								<div class="row mb-4">

									<!-- 상태 체크박스 시작 -->
									<div class="col-auto display-flex align-items-center"
										style="height: 43px;">
										<ul class="list-unstyled mb-0">
											<li class="d-inline-block me-2 mb-1">
												<div class="form-check">
													<div class="checkbox-container">
														<div class="checkbox" th:each="stts :${sttsList}">
															<input type="checkbox" class="form-check-input"
																id="checkbox" onclick='searchSelect(this.id)'
																th:value="${stts.code}"> <label
																class="font-semibold "
																style="color: rgba(35, 28, 99, .7);" for="checkbox2"
																th:text="${stts.name}"></label>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
									<!-- 상태 체크박스 끝 -->

									<div class="col-md-6 display-flex align-items-center">
										<!-- 관리월 시작 -->
										<div class="form-group d-sm-flex align-items-center">
											<div class="col-auto me-md-2">
												<label class="col-form-label">관리월</label>
											</div>
											<div class="col-lg-10 col-5">
												<fieldset class="form-group" style="margin: 0;">
													<select class="form-select buySelect" id="searchSelected"
														onchange="searchSelect(this.id)">
														<option value="">선택</option>
														<option th:each="yearMonth :${yearMonthList}"
															th:value="${yearMonth.yearMonth}"
															th:text="${yearMonth.yearMonth}"
															th:selected="${selectedYearMonth == yearMonth.yearMonth}"></option>
													</select>
												</fieldset>
											</div>
										</div>
										<!-- 관리월 끝 -->
										
										<!-- 설비명 시작 -->
										<div class="form-group d-sm-flex align-items-center ms-md-4">
											<div class="col-auto me-md-2">
												<label class="col-form-label">설비명</label>
											</div>
											<div class="col-lg-10 col-5">
												<input type="text" id="searchInput" class="form-control"
													style="width: 150px; height: 100%;"
													onkeyup="searchSelect(this.id)">
											</div>
										</div>
										<!-- 설비명 끝 -->
									</div>

								</div>
								<!-- 검색 조건 끝-->

								<!-- 그리드 -->
								<div id="grid" class="mb-3 mt-2 table-responsive"></div>
								<input type="hidden" class="form-control serch-content" id="emp_name" th:value="${session.sEmp.EMP_NAME}">
								<input type="hidden" class="form-control serch-content" id="emp_id" th:value="${session.sEmp.EMP_ID}">
								<input type="hidden" class="form-control serch-content" id="emp_role" th:value="${session.sEmp.EMP_ROLE}">

								<!-- 버튼 시작 -->
								<!--<div sec:authorize="hasRole('ATHR001') or hasRole('ATHR002')">-->
								<div class="float-end">
									<input type="button" class="btn btn-outline-secondary" id="add" value="추가"> 
									<input type="button" class="btn btn-outline-success" id="save" value="저장" onclick="saveData()"> 
									<input type="button" class="btn btn-outline-danger" id="del" value="삭제">
									<input type="button" class="btn btn-outline-info" id="excel" value="엑셀" onclick="exportExcel()">
								</div>
								<!--</div>-->
								<!-- 버튼 끝 -->

							</form>
						</div>
					</section>
				</div>
				<!-- card-body -->
			</div>
			<!-- card -->
		</div>
		<!-- main -->
	</div>
	<!-- app -->

	<!-- 제이쿼리 -->
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<script
		th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- TOAST UI CDN -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
	<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
	
	<!-- sweetAlert CDN -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script th:inline="javascript">

		const header = document.querySelector('meta[name="_csrf_header"]').content;
		const token = document.querySelector('meta[name="_csrf"]').content;

		let grid = "";

		// 페이지 로드 시 설비 정보 조회하는 함수 호출
		window.onload = function () { //페이지 로드 시 사용내역 그리드 현시 처리
			selectInfo();
		};

		// 초기 화면 함수
		function selectInfo() {
			
			// 서버에서 전달된 확인자 이름
			const empName = document.getElementById('emp_name').value;
			const empId = document.getElementById('emp_id').value;  // 현재 로그인된 사용자 ID
			const empRole = document.getElementById('emp_role').value;  // 현재 로그인된 사용자 권한
			
			const data = /*[[${hstryList}]]*/[];
			const sttsList = /*[[${sttsList}]]*/ []; // 상태유형 정보
			const infoList = /*[[${infoList}]]*/ []; // 설비종류 정보
			
			var Grid = tui.Grid;

			if (grid) {
				// 이미 생성된 경우 destroy하지 않고 재사용
				grid.refreshLayout();
				return;
			}
			
			grid = new Grid({
				el: document.getElementById('grid'),
				rowHeaders: ['checkbox'],
				editingEvent: 'click',
				columns: [
					{header: '관리번호',	name: 'hstyNo', sortable: true},
					{header: '관리일자',	name: 'hstyDate',    editor: {
														               type: 'datePicker',
														               options: {
														                   format: 'yyyy-MM-dd',
																		language: 'ko'
														               	}}, 	sortable: true, validation: { required: true }},
					{header: '설비',		name: 'infoNo',		formatter: 'listItemText', editor: {
															            type: 'select',
															            options: {
															              listItems: infoList.map(infoMap => ({
														                    text: infoMap.name, // 설비종류 이름
														                    value: String(infoMap.no) // 설비종류 코드
															               }))
															            }}, 	sortable: true, validation: { required: true }},
					{header: '관리유형',	name: 'hstyType',	formatter: 'listItemText', editor: {
														            type: 'select',
														            options: {
														              listItems: sttsList.map(stts => ({
													                    text: stts.name, // 설비종류 이름
													                    value: stts.code // 설비종류 코드
														               }))
														            }}, 	sortable: true, validation: { required: true }},
					{header: '상세내용',	name: 'hstyDtl',    editor: 'text', 	sortable: true},
					{header: '확인자',		name: 'hstyPrfr', sortable: true},
					{header: '등록일',		name: 'regDate', sortable: true},
					{header: '수정일',		name: 'mdfnDate', sortable: true},
					{header: '타입', name: 'rowType'} // 조회 / 추가를 구분하기 위함
				],
				data: data,
				columnOptions: {
				  resizable: true
				}
			});
			
			// id 및 rowType 숨기기
			grid.hideColumn("hstyNo");
			grid.hideColumn("rowType");
			
			// 추가 버튼 이벤트
			add.addEventListener('click', () => {
				
				grid.appendRow({
					"hstyPrfr": empId,
					"regDate": today(),
					"rowType": "insert"
				},
					{
						at: 0, // 행 추가 인덱스
						focus: true
					});
			});

			
			// 저장 버튼 이벤트
			// 마지막 셀에 대한 값이 인식 안 돼서 저장 버튼에 마우스다운 이벤트 처리
			save.addEventListener('mousedown', () => {
				grid.blur(); // 포커스 해제
				
				// 그리드 데이터 확인
				const data = grid.getData();
				const columns = grid.getColumns(); // 그리드의 컬럼 정보 가져오기
				let hasEmptyValue = false;
				let emptyColumnName = ''; // 빈 값이 발견된 컬럼 이름 저장
				
				// 유효성 검사할 컬럼 이름 목록
				const requiredColumns = ['hstyDate', 'infoNo', 'hstyType', 'hstyDtl']; // 관리일자, 설비, 관리유형 컬럼의 name

				// 빈 값 확인
				data.forEach(row => {
				    for (const key in row) {
				        // 유효성 검사할 컬럼만 체크
				        if (requiredColumns.includes(key)) {
				            if (row[key] === null || row[key] === undefined || row[key] === '') {
				                hasEmptyValue = true;

				                // 빈 값의 컬럼 이름 찾기
				                const column = columns.find(col => col.name === key);
				                if (column) {
				                    emptyColumnName = column.header; // 컬럼의 header 값 가져오기
				                }

				                break; // 한 개만 발견되면 종료
				            }
				        }
				    }
				    if (hasEmptyValue) {
				        return; // 더 이상 검사하지 않음
				    }
				});

				// 빈 값이 있으면 알림창 띄우고 저장 중단
				if (hasEmptyValue) {
					swal(`${emptyColumnName}를 입력해 주세요.`);
				    return; // 저장 동작 중단
				}

				// 수정된 행일 경우 rowType을 update로 변경
				const updatedRows = grid.getModifiedRows().updatedRows;
				updatedRows.forEach((row, index) => {
					grid.setValue(row.rowKey, "rowType", "update")
				});
			});
			
			// 셀 편집 시작 이벤트
			grid.on('editingStart', function (ev) {
		        const row = ev.rowKey; // 수정하려는 행의 index
		        const rowData = grid.getRow(row); // 해당 행의 데이터
		        const rowPrfr = rowData.hstyPrfr; // 행의 확인자 정보

		        // 현재 사용자가 확인자랑 다를 경우 편집 불가
		        if (rowPrfr != empId) {
		        	swal("본인이 등록한 항목만 수정 가능합니다.");
		            ev.stop();  // 편집을 중단
		        }
		    });
			
			// 행 체크 이벤트
			let delRows = [];
			grid.on('check', (ev) => {
				const row = ev.rowKey; // 수정하려는 행의 index
		        const rowData = grid.getRow(row); // 해당 행의 데이터
		        const rowPrfr = rowData.hstyPrfr; // 행의 확인자 정보

		        // 현재 사용자가 확인자랑 다를 경우 체크 불가
		        if (rowPrfr != empId) {
		        	swal("본인이 등록한 항목만 수정 가능합니다.");
		        	grid.uncheck(row);  // 해당 행의 체크박스 해제
		        	
		        } else { // 본인일 경우 삭제할 행 배열에 추가
					delRows.push(ev.rowKey);
		        }
			});
			
			// 전체 체크 유효성 이벤트
			grid.on('checkAll', (ev) => {
		        // 현재 사용자 권한이 상위관리자가 아닐 경우 전체 체크 불가
		        if (empRole != 'ATHR001') {
		        	swal("전체 선택은 상위관리자만 가능합니다.");
		        	grid.uncheckAll();  // 해당 행의 체크박스 전체 해제
		        } else {
		        	grid.refreshLayout(); // 강제 UI 갱신
		        }
			});
			
			// 삭제 버튼 이벤트
			del.addEventListener('mousedown', () => {
				grid.blur(); // 포커스 해제
				
				// delRows 저장된 인덱스에 대한 행 삭제 처리
				delRows.forEach((index) => {
					// 삭제된 행일 경우 rowType을 update로 변경
					grid.setValue(index, "rowType", "delete")
					grid.removeRow(index);
				});
			});
		}; // selectInfo 함수 끝
		
		// 검색 조건 입력 조회
		function searchSelect(){
			const name = document.getElementById("searchInput").value;
			const month = document.getElementById("searchSelected").value;
			
			var selectedStts = [];
			// 체크된 체크박스의 값을 배열에 추가
			$('input[type="checkbox"]:checked').each(function () {
				selectedStts.push($(this).val());
			});

			var data = {checkboxes: selectedStts, name: name, month:month};
			$.ajax({
				url: "/eqpHstrySearchSelect",
				contentType: "application/json",
				data: JSON.stringify(data),
				type: 'POST',
				//추가해야 하는 부분
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				success: function (response) {
					grid.resetData(response);
				} // success
			}) // ajax
		}
		
		// 추가 및 수정된 값이 저장된 json을 들고 통신
		function saveData() {
			const modifiedRows = grid.getModifiedRows(); // 수정된 데이터 가져오기

			const createdRows = modifiedRows.createdRows; // 추가된 행
			const updatedRows = modifiedRows.updatedRows; // 수정된 행
			const deletedRows = modifiedRows.deletedRows; // 삭제된 행

			// 모든 수정된 데이터 배열로 합치기
			const modifiedData = [...createdRows, ...updatedRows, ...deletedRows];

			// 수정된 데이터를 서버로 전송
			$.ajax({
				url: "/eqpHstrySaveData", // 변경된 데이터를 처리할 컨트롤러 URL
				type: 'POST',
				contentType: "application/json",
				data: JSON.stringify(modifiedData),
				//추가해야 하는 부분
				beforeSend: function (xhr) {
					xhr.setRequestHeader(header, token);
				},
				success: function (res) {
					if (res == 1) {
						Swal.fire({
							title: "저장 성공",
							icon: "success",
							confirmButtonText: "확인"
						}).then(function () { // 확인 클릭 시 실행
							location.reload(true); // 페이지 새로고침
						});
					} else {
						Swal.fire({
							title: "저장 실패",
							icon: "error",
							confirmButtonText: "확인"
						});
					}
				},
				error: function () {
					Swal.fire({
						title: "서버 오류",
						icon: "error",
						confirmButtonText: "확인"
					});
				}
			});
		}; // save 함수 끝
		
		function exportExcel(){
			grid.export('xlsx', { fileName : '설비이력_' + today(), useFormattedValue:true});
		}
		
		function today(){
			let now = new Date(); 
			let year = now.getFullYear(); // 년도
			let month = String(now.getMonth() + 1).padStart(2, "0");  // 월
			let date = now.getDate();  // 날짜

			return year + "-" + month + "-" + date;
		}

	</script>


</body>

</html>