<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>COMPUT.</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	
	<link rel="stylesheet" href="assets/vendors/iconly/bold.css">
	
	<link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="icon" href="images/favicon.png" type="images/png">
	
	<!-- TOAST UI CDN -->
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
	<link rel="stylesheet" href="https://uicdn.toast.com/select-box/latest/toastui-select-box.css" />
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />

<style>

</style>

</head>

<body>

	<div id="app">

		<!-- 사이드 메뉴바-->
		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!-- 메인 content -->
		<div id="main">


			<div class="display-flex">
				<h3>작업지시</h3>
			</div>
			<!-- display-flex -->

			<div class="card">
				<div class="card-body" id="default">
					 <!-- 검색 영역 -->
				    <div class="row mb-3">
				    	<div class="col-md-2 d-flex">
				    	 	<div class="col-6">
				            	<label for="planNoSearch" class="form-label"><b>생산계획번호</b></label>
				    	 	</div>
				            <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
								<input type="text" id="planNoSearch" name="planNoSearch"/>
							</div>
				        </div>
				        <div class="col-md-3 d-flex">
				        	<div class="col-2">
				        		<label for="startDate" class="form-label"><b>지시일</b></label>
			        		</div>
							<!-- 첫 번째 데이트 피커 -->
							<div>
								<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
									<input type="text" id="startDate" name="startDate" aria-label="Date-Time" placeholder="시작일 선택"/>
									<span class="tui-ico-date"></span>
								</div>
								<div id="tui-date-picker-container1"
									style="margin-top: -1px; z-index: 2000; position: relative;"></div>
							</div>
			
							<!-- 구분자 -->
							<span style="font-size: 1.2rem; line-height: 2rem;">~</span>
			
							<!-- 두 번째 데이트 피커 -->
							<div>
								<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
									<input type="text" id="endDate" name="endDate" aria-label="Date-Time" placeholder="끝일 선택"/>
									<span class="tui-ico-date"></span>
								</div>
								<div id="tui-date-picker-container2"
									style="margin-top: -1px; z-index: 1000; position: relative;">
								</div>
							</div>
						</div>
				        <div class="col-md-3 d-flex">
				        	<div class="col-2">
				            	<label for="processSelectBox" class="form-label"><b>공정/라인</b></label>
				            </div>	
				            <div class="" id="processSelectBox" style="width: 200px"></div>
				            <div id="lineSelectBox" style="width: 200px"></div>
				        </div>
				        <!-- <div class="col-md-2 d-flex align-items-end">
				            <button class="btn btn-primary w-100">조회</button>
				        </div> -->
				    </div>
				
				    <!-- 작업 시작/종료 버튼 -->
				    <div class="row mb-2">
				        <div class="col text-end">
				            <button class="btn btn-outline-primary me-1" id="workStart">작업시작</button>
				            <button class="btn btn-outline-success me-1" id="defectCheck">불량검사</button>
				            <button class="btn btn-outline-secondary" id="workEnd">작업종료</button>
				        </div>
				    </div>
				
				    <!-- 작업 지시 Grid -->
				    <div id="workInstructionGrid" style="height: 300px; margin-bottom: 20px;"></div>
				
					<hr>
				
				    <!-- 하단 탭 메뉴 -->
				    <div class="d-flex justify-content-between align-items-center">
				        <ul class="nav nav-tabs" id="tabMenu" role="tablist">
				            <li class="nav-item me-1" role="presentation">
				                <button class="nav-link" id="tab-worker-tab" data-bs-toggle="tab" data-bs-target="#tab-worker" type="button" role="tab">작업담당자</button>
				            </li>
				            <li class="nav-item" role="presentation">
				                <button class="nav-link" id="tab-material-tab" data-bs-toggle="tab" data-bs-target="#tab-material" type="button" role="tab">자재투입</button>
				            </li>
				        </ul>
				        <div>
				            <button class="btn btn-outline-success me-1">추가</button>
				            <button class="btn btn-outline-danger">삭제</button>
				        </div>
				    </div>
					<!-- 하단 탭 메뉴 끝-->
					
				    <!-- 탭 내용 시작-->
				    <div class="tab-content mt-2">
				        <div class="tab-pane active" id="tab-worker" role="tabpanel">
				            <div id="workerGrid" style="height: 300px;"></div>
				        </div>
				        <div class="tab-pane " id="tab-material" role="tabpanel">
				            <div id="materialGrid" style="height: 300px;"></div>
				        </div>
				    </div>
				    <!-- 탭 내용 끝-->
				    
				</div> <!-- card-body -->
			</div> <!-- card -->
		</div> <!-- main -->
	</div> <!-- app -->

	<!-- 제이쿼리 -->
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- TOAST UI CDN -->
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
	<script src="https://uicdn.toast.com/select-box/latest/toastui-select-box.js"></script>
	<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
	<script src="js/process/work_instruction.js"></script>
	<script th:inline="javascript">
	
	</script>
</body>

</html>