<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>COMPUT.</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	
	<link rel="stylesheet" href="assets/vendors/iconly/bold.css">
	
	<link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="icon" href="images/favicon.png" type="images/png">
	
	<!-- TOAST UI CDN -->
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
	
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />

<style>
.tui-grid-cell {
	/* !important -> 우선순위 높아짐 */
	background-color: #ffffff !important;
}

.display-flex {
	display: flex;
}

.buttons {
	/* 페이지명과 같은 위치에서 버튼을 오른쪽에 두기 위함 */
	margin-left: auto
}

.buySelect {
	width: 150px !important;
}

.row mb-4{
	display: flex; 
	align-items: center
}

.buyDiv{
	display: flex; 
	align-items: center; 
	max-width: 230px; 
	flex-shrink: 0
}

.nameDiv{
	display: flex; 
	align-items: center; 
	max-width: 400px; 
	flex-shrink: 0;
}



</style>

</head>

<body>

	<div id="app">

		<!-- 사이드 메뉴바-->
		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!-- 메인 content -->
		<div id="main">


			<div class="display-flex">
				<h3>재고현황</h3>
			</div>
			<!-- display-flex -->

			<div class="card">
				<div class="card-body" id="default">
					
					<!-- 그리드 시작 -->
					<section class="section">
						<div class="row" id="basic-table">
							<form>
								<!-- 검색 조건 시작 -->
								<div class="row mb-4 align-items-center">
								    <!-- 상품명 -->
									<div class="col-md-4">
										<label for="nameSearch" class="form-label">품목명 검색</label>
										<div class="input-group mb-3">
											<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
											<input type="text" class="form-control" id="productName" placeholder="품명을 입력해주세요." aria-label="Recipient's username"
												aria-describedby="button-addon2" onkeyup="updateProductGrid()">
										</div>
									</div>
								</div>
								<!-- 검색 조건 끝-->
								
								<!--전체/완제품/자재 탭 시작-->
					          <ul class="nav nav-tabs" id="myTab" role="tablist">
					              <li class="nav-item" role="presentation">
					                  <a class="nav-link active" id="all" data-bs-toggle="tab" href="#home" role="tab"
					                      aria-controls="home" aria-selected="true">전체</a>
					              </li>
					              <li class="nav-item" role="presentation">
					                  <a class="nav-link" id="product" data-bs-toggle="tab" href="#profile" role="tab"
					                      aria-controls="profile" aria-selected="false">완제품</a>
					              </li>
					              <li class="nav-item" role="presentation">
					                  <a class="nav-link" id="material" data-bs-toggle="tab" href="#contact" role="tab"
					                      aria-controls="contact" aria-selected="false">자재</a>
					              </li>
					          </ul>
					          <div class="tab-content" id="myTabContent">
					              <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">
									
									<!--재고현황 그리드-->										   
									<div id="inventoryGrid" class="mb-3 mt-2"></div> 
	
					              </div>
					              <div class="tab-pane fade" id="product" role="tabpanel" aria-labelledby="profile-tab">
					                 
					                 <!--각 탭마다 그리드 id 다르게 해줘야함-->
									
					              </div>
					              <div class="tab-pane fade" id="material" role="tabpanel" aria-labelledby="contact-tab">
					                  
									<!--각 탭마다 그리드 id 다르게 해줘야함-->
									
					              </div>
					          </div>
							  <!--전체/받은요청/보낸요청 탭 끝-->
							  
							  <!-- 버튼 시작 -->
  								<!--<div sec:authorize="hasRole('ATHR001') or hasRole('ATHR002')">-->
  									<div class="float-end">
  										<input type="button" class="btn btn-outline-success" id="save"  value="저장" onclick="saveAllChanges()">
  									</div>
  								<!--</div>-->
  								<!-- 버튼 끝 -->
							</form>
						</div>
					</section>
					<!-- 그리드 끝  -->

				</div> <!-- card-body -->
			</div> <!-- card -->
			
			
		
	
		</div> <!-- main -->
	</div> <!-- app -->

	<!-- 제이쿼리 -->
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- TOAST UI CDN -->
	<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
	
	<script th:inline="javascript">

		const header = document.querySelector('meta[name="_csrf_header"]').content;
		const token = document.querySelector('meta[name="_csrf"]').content;

	 	var Grid = tui.Grid;
		
		const inventoryGrid = new Grid({
			el: document.getElementById('inventoryGrid'),
			columns: [
				{header: '재고번호',	name: 'inventory_no', width: 100},
				{header: '재고구분',	name: 'inventory_type',		editor: 'text', sortable: true, width: 150},
				{header: '품목명',		name: 'item_name', editor: 'text', sortable: true, width: 200},
				{header: '재고량',	name: 'inventory_qty',	editor: 'text', sortable: true, width: 100},
				
				{header: '실재고량',	name: 'inventory_count',	editor: 'text', sortable: true, width: 150,
				 defaultValue: 0,
				 formatter: ({ value }) => `<span style="color: #dc3545;">${value}</span>`},
				
				{header: '단위',	name: 'unit',	editor: 'text', sortable: true, width: 150},
				{header: '창고',	name: 'warehouse_id',	editor: 'text', sortable: true, width: 150},
				{header: '구역',	name: 'zone',	editor: 'text', sortable: true, width: 150},
				{header: '수정자',	name: 'mod_user',	editor: 'text', sortable: true, width: 150},
				{header: '수정일',	name: 'mod_date',	editor: 'text', sortable: true, width: 150}
				
			],
			data: [],
			columnOptions: {
			  resizable: true
			}
		});
		
		
		let allData = []; // 전체 데이터를 저장할 변수

		
		document.addEventListener("DOMContentLoaded", function() {
			function loadInventoryData() {
		        $.ajax({
		            url: "/api/inventory/list", 
		            type: "GET",
		            contentType: "application/json",
		            dataType: "json",
		            beforeSend: function(xhr) {
		                xhr.setRequestHeader(header, token);  
		            },
		            success: function(response) {
		            	allData = response; // 전체 데이터 저장
		                console.log("재고 데이터 로드 성공:", response);
		                inventoryGrid.resetData(response);  // Grid에 데이터 삽입
		            },
		            error: function(xhr, status, error) {
		                console.error("재고 데이터 로드 실패:", status, error);
		            }
		        });
		    }

		    //페이지 로드 후 즉시 데이터 로드
		    loadInventoryData();
			
			
			 const tabs = {
				        전체: document.getElementById('all'),
				        완제품: document.getElementById('product'),
				        자재: document.getElementById('material')
				    };
			
			 			
			// 탭 클릭 이벤트 등록
	        Object.keys(tabs).forEach(tabName => {
	            tabs[tabName].addEventListener('click', () => {
	                let filteredData;
	                if (tabName === '전체') {
	                    filteredData = allData; // 전체 데이터
	                } else {
	                    filteredData = allData.filter(item => item.inventory_type === tabName); // 요청구분에 따른 필터링
	                }

	                inventoryGrid.resetData(filteredData); // 필터링된 데이터를 TOAST UI Grid에 적용
	                inventoryGrid.refreshLayout(); // 레이아웃 새로고침
	            });
	        });	
				
		    
		    
		    
	});
			
	
				
	
			//실재고량 업데이트 함수
			function saveAllChanges() {
			    const modifiedRows = inventoryGrid.getModifiedRows().updatedRows; // 수정된 행 가져오기
		
			    console.log(" 수정된 실재고량 행:", modifiedRows);
		
			    if (!modifiedRows.length) {
			        alert("변경된 데이터가 없습니다.");
			        return;
			    }
			 
				const dtoData = [...modifiedRows];
				const data = [];
				dtoData.forEach(row => {
					const rowData = {};
					rowData.inventory_no = Number(row.inventory_no); // 숫자 변환
			        rowData.inventory_count = Number(row.inventory_count); // 숫자 변환
					
			        data.push(rowData);
			        
				});
				
			    console.log(" 전송 데이터:", JSON.stringify(data)); // JSON 확인
		
			    $.ajax({
			        url: "/api/inventory/update",
			        type: "POST",
			        contentType: "application/json",
			        data: JSON.stringify(data), // 전송 데이터
			        beforeSend: function (xhr) {
			            xhr.setRequestHeader(header, token);
			        },
			        success: function () {
			            console.log(" 일괄 업데이트 성공");
			            alert("모든 변경 사항이 저장되었습니다.");
			            location.reload(true);
			        },
			        error: function (xhr, status, error) {
			            console.error(" 일괄 업데이트 실패:", status, error);
			            console.error(" 서버 응답:", xhr.responseText);
			            alert("데이터 저장 중 오류가 발생했습니다.");
			        }
			    });
			}
		
			
			
		
		
	</script>

</body>

</html>