<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>board/list title</title>
	</head>
	<body>
		<h1>board/list.html</h1>
		
		<button onclick="location.href='main'">메인으로</button>
		<button th:if="${session.id != null}" onclick="location.href='boardWrite'">글쓰기</button>
		<br>
		<table border="1">
			<tr><td>글번호</td>
				<td>글쓴이</td>
				<td>글제목</td>
				<td>조회수</td>
				<td>작성날짜</td>
			</tr>
			
			<tr th:each="board, status:${boardList}">
				<td><span th:text="${board.board_num}"></span></td>
				<td><span th:text="${board.writer}"></span></td>
				<td><a th:href="@{/boardDetail(board_num=${board.board_num})}"><span th:text="${board.title}"></span></a></td>
				<td><span th:text="${board.readcount}"></span></td>
				<td><span th:text="${board.write_date}"></span></td>
			</tr>
			
		</table>
		<br>
	
	</body>
</html>