<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>board/update title</title>
	</head>
	<body>
		<h1>board/update.html</h1>
		
		<form th:action="@{/boardUpdate}" method="post">
			
			<input type="hidden" name="readcount" th:value="${board.readcount}">
			
			<table border="1">
				<tr>
					<td>글번호</td>
					<td><input type="text" name="board_num" th:value="${board.board_num}" readonly></td>
				</tr>
				<tr>
					<td>글쓴이</td>
					<td><input type="text" name="writer" th:value="${board.writer}" readonly></td>
				</tr>
				<tr>
					<td>제목</td>
					<td><input type="text" name="title" th:value="${board.title}"></td>
				</tr>
				<tr>
					<td>내용</td>
					<td><textarea name="content" th:text="${board.content}" rows="10" cols="20"></textarea></td>
				</tr>
				<tr>
					<td>작성일자</td>
					<td><input type="text" name="date" th:value="${board.date}" readonly></td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="글수정"></td>
				</tr>
			</table>
		</form>
	</body>
</html>