<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>member_list title</title>
		<link href="/style.css" rel="stylesheet">
	</head>	
	<body>
		<h1>member_list.html</h1>
		<table border="1">
			<tr>
				<th>아이디</th>
				<th>비밀번호</th>
				<th>이름</th>
				<th>가입날짜</th>
			</tr>			
			<tr th:if="${#lists.isEmpty(memberList)}">
			    <td colspan="4">No members found.</td>
			</tr>
			<tr th:each="member : ${memberList}">
			    <td th:text="${member.id}"></td>
			    <td th:text="${member.pass}"></td>
			    <td th:text="${member.name}"></td>
			    <td th:text="${member.reg_date}"></td>
			</tr>
		</table>
	</body>
</html>