<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>출퇴근 현황</title>

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/bootstrap.css">

	<link rel="stylesheet" href="assets/vendors/iconly/bold.css">

	<link rel="stylesheet" href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" href="assets/vendors/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" href="assets/css/app.css">
	<link rel="shortcut icon" href="assets/images/favicon.svg" type="assets/image/x-icon">

	<!-- TOAST UI CDN -->
	<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
	<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />

	<meta charset="UTF-8">
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />

	<style>
		.tui-grid-cell {
			/* !important -> 우선순위 높아짐 */
			background-color: #ffffff !important;
		}
	</style>

</head>

<body>

	<div id="app">

		<!-- 사이드 메뉴바-->
		<div th:replace="~{fragments/sidebar :: sidebar}"></div>

		<!-- 메인 content -->
		<div id="main">

			<!-- 반응형 사이드 메뉴 버튼-->
			<header class="mb-3">
				<a href="#" class="burger-btn d-block d-xl-none">
					<i class="bi bi-justify fs-3"></i>
				</a>
			</header>

			<h3>출퇴근 현황</h3>

			<div class="card">
				<div class="card-body">

					<!-- 데이트 피커 시작 -->
					<section class="section" style="margin-bottom: 2.2rem">
						<div style="display: flex; align-items: center; gap: 1rem;">
							<!-- 첫 번째 데이트 피커 -->
							<div>
								<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
									<input type="text" id="tui-date-picker-target-1" aria-label="Date-Time" onmousedown="datePickerReplace(this.id)"
										placeholder="시작일 선택" />
									<span class="tui-ico-date"></span>
								</div>
								<div id="tui-date-picker-container-1"
									style="margin-top: -1px; z-index: 1000; position: relative;"></div>
							</div>

							<!-- 구분자 -->
							<span style="font-size: 1.2rem; line-height: 2rem;">~</span>

							<!-- 두 번째 데이트 피커 -->
							<div>
								<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
									<input type="text" id="tui-date-picker-target-2" aria-label="Date-Time" onmousedown="datePickerReplace(this.id)"
										placeholder="종료일 선택" />
									<span class="tui-ico-date"></span>
								</div>
								<div id="tui-date-picker-container-2"
									style="margin-top: -1px; z-index: 1000; position: relative;"></div>
							</div>

							<span style="font-size: 1rem; line-height: 2rem;"> 사번 / 이름</span>
							<div>
								<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
									<input type="text" id="searchEmp" placeholder="사번 또는 이름 입력" />
								</div>
							</div>
							<button type="button" class="btn btn-primary"
								onclick="search(this);">검색</button>
						</div>
					</section>
					<!-- 데이트 피커 끝 -->

					<!-- 그리드 시작 -->
					<section class="section">
						<div class="row" id="basic-table">
							<div id="grid"></div>
						</div>
					</section>
					<!-- 그리드 끝 -->

				</div> <!-- card-body -->
			</div> <!-- card -->
		</div> <!-- main -->
	</div> <!-- app -->

	<!-- 제이쿼리 -->
	<script th:src="@{/js/jquery-3.7.1.js}"></script>
	<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
	<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<!-- TOAST UI CDN -->
	<script src="https://uicdn.toast.com/tui-grid/latest/tui-grid.js"></script>
	<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

	<script th:inline="javascript">

		const header = document.querySelector('meta[name="_csrf_header"]').content;
		const token = document.querySelector('meta[name="_csrf"]').content;

		// 제이쿼리로 데이트피커에 숫자만 입력되게 정규식 처리
		function datePickerReplace(id) {
			$(document).ready(function () {
				// 숫자가 아닌 정규식
				var replaceNotInt = /[^0-9]/gi;

				$(`#${id}`).on("focusout", function () {
					var x = $(this).val();
					if (x.length > 0) {
						if (x.match(replaceNotInt)) {
							x = x.replace(replaceNotInt, "");
						}
						$(this).val(x);
					}
				}).on("keyup", function () {
					$(this).val($(this).val().replace(replaceNotInt, ""));
				});
			});
		}

		// 첫 번째 DatePicker 초기화
		const container1 = document.getElementById('tui-date-picker-container-1');
		const target1 = document.getElementById('tui-date-picker-target-1');
		const instance1 = new tui.DatePicker(container1, {
			//date: new Date(),
			input: {
				element: target1,
				format: 'yyyy-MM-dd'
			}
		});

		// 두 번째 DatePicker 초기화
		const container2 = document.getElementById('tui-date-picker-container-2');
		const target2 = document.getElementById('tui-date-picker-target-2');
		const instance2 = new tui.DatePicker(container2, {
			//date: new Date(),
			input: {
				element: target2,
				format: 'yyyy-MM-dd'
			}
		});
		
		// Toast Grid 초기화
		let grid;

		// 화면 로드 시 공통코드 조회
		window.onload = function () {
			// Thymeleaf 데이터를 JSON으로 변환하여 JS 변수에 저장
			const gridData = /*[[${cmtList}]]*/[];
			const Grid = tui.Grid;

			// Toast Grid 생성
			grid = new Grid({
				el: document.getElementById('grid'),
				columns: [
					{header: '사원번호', name: 'empId'},
					{header: '이름', name: 'empNm'},
					{header: '부서', name: 'deptNm'},
					{header: '일자', name: 'cmtDate'},
					{header: '출근시간', name: 'workBgn'},
					{header: '퇴근시간', name: 'workEnd'}
				],
				data: gridData // 서버에서 전달받은 데이터
			});
		};

		// 검색 조건으로 조회 처리
		function search() {
			const empInfo = document.getElementById('searchEmp').value;
			const bgnDate = document.getElementById('tui-date-picker-target-1').value;
			const endDate = document.getElementById('tui-date-picker-target-2').value;

			fetch(
				"/searchCmt",

				{
					method: "POST"
					, headers: {
						'header': header,
						"Content-Type": "application/json",
						'X-CSRF-Token': token
					}
					, body: JSON.stringify({
						empInfo: empInfo
						, bgnDate: bgnDate
						, endDate: endDate
					})

				})
				.then(resp => resp.json()) // 응답 객체를 매개변수로 얻어와 파싱
				.then(data => {
					grid.resetData(data);
				})
		};

	</script>


</body>

</html>