<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="main">
	<!-- main.html -->
	<div id="main">

		<header class="mb-3">
			<a href="#" class="burger-btn d-block d-xl-none">
				<i class="bi bi-justify fs-3"></i>
			</a>
		</header>

		<div class="page-heading">
			<button type="button" class="btn btn-primary btn-lg" id="atndBtn"
				onclick="cmtBtn(this.id)">출근하기</button>
			<button type="button" class="btn btn-success btn-lg" id="leaveBtn"
				onclick="cmtBtn(this.id)">퇴근하기</button>
		</div>
		<div class="card">
			<div class="card-body">
				<h4>근무 일정</h4>
				<div id="calendar" style="height: 600px;"></div>
			</div>
		</div>	
     
	</div>
	<!-- main.html 끝-->


<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<!-- 제이쿼리 -->
<script src="/js/jquery-3.7.1.js"></script>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script th:inline="javascript" th:src="@{/js/main_work.js}"></script>
	


<script th:inline="javascript">

	const header = document.querySelector('meta[name="_csrf_header"]').content;
	const token = document.querySelector('meta[name="_csrf"]').content;

	// 화면 로드 시 공통코드 조회
	window.onload = function () {
		fetch(
			"/searchCmt",
			{
				method: "POST"
				, headers: {
					'header': header,
					"Content-Type": "application/json",
					'X-CSRF-Token': token
				}
				, body: JSON.stringify({
					btnType: id
				})

			})
			.then(resp => resp.json()) // 응답 객체를 매개변수로 얻어와 파싱
			.then(data => {
				
			})
			
			
		  var Calendar = window.tui.Calendar;

	      var cal = new Calendar('#main-calendar', {
	        defaultView: 'month',
	        calendars: MOCK_CALENDARS,
	        template: {
	          monthGridHeader: function (data) {
	            var date = parseInt(data.date.split('-')[2], 10);

	            return (
	              '<span class="calendar-month-header" style="margin-left: 4px;">' +
	              (data.month + 1) +
	              '/' +
	              date +
	              '</span>'
	            );
	          },
	          monthGridHeaderExceed: function (hiddenEvents) {
	            return (
	              '<span class="calendar-month-header-exceed" style="font-size: 0.8rem">' +
	              '+' +
	              hiddenEvents +
	              '</span>'
	            );
	          },
	          monthDayName: function (data) {
	            var label = data.label;

	            if (data.day === 5) {
	              label = '🎉 TGIF';
	            }

	            return '<span class="calendar-month-day-name">' + label + '</span>';
	          },
	        },
	      });
	    
	};

	// 출/퇴근 버튼 처리
	function cmtBtn(id) {
		fetch(
			"/searchCmt",

			{
				method: "POST"
				, headers: {
					'header': header,
					"Content-Type": "application/json",
					'X-CSRF-Token': token
				}
				, body: JSON.stringify({
					btnType: id
				})

			})
			.then(resp => resp.json()) // 응답 객체를 매개변수로 얻어와 파싱
			.then(data => {
				grid.resetData(data);
			})
	};

</script>
</div>
</body>

</html>