<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="main">
	<!-- main.html -->
	<div id="main">

		<header class="mb-3">
			<a href="#" class="burger-btn d-block d-xl-none">
				<i class="bi bi-justify fs-3"></i>
			</a>
		</header>

		<div class="page-heading">
			<div class="d-flex align-items-center">
<!-- 	            <h3 id="todayDate" class="me-3" >날짜</h3> -->
				<button type="button" class="btn btn-primary btn-lg" id="atndBtn"
					onclick="cmtBtn()">출근하기</button>
			</div>
		</div>
		<div class="card" style="width: 1200px;">
		    <div class="card-body">
		        <section >
		            <div class="d-flex align-items-center justify-content-start mb-5">
		                <!-- 제목과 날짜 -->
		                <div class="d-flex align-items-center">
		                    <h4>근무 일정</h4>
		                </div>
		                <!-- 버튼들 -->
		                <div class="d-flex align-items-center ms-3">
		                    <button type="button" id="todayBtn" class="btn btn-outline-secondary rounded-pill mx-3">
		                        Today
		                    </button>
		                    <button type="button" id="prevBtn" class="btn btn-outline-secondary rounded-pill me-2">
		                        <i class="bi bi-chevron-left"></i>
		                    </button>
		                    <h5 id="today" class="mx-4"></h5>
		                    <button type="button" id="nextBtn" class="btn btn-outline-secondary rounded-pill">
		                        <i class="bi bi-chevron-right"></i>
		                    </button>
		                </div>
		            </div>
		        </section>

		        <section>
		            <div id="calendar" style="height: 600px; "></div>
		        </section>
		    </div>
		</div>

     
	</div>
	<!-- main.html 끝-->


<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
<!-- 제이쿼리 -->
<script src="/js/jquery-3.7.1.js"></script>
<script src="/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<script th:inline="javascript" th:src="@{/js/main_work.js}"></script>

<!-- sweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	


<script th:inline="javascript">

	const header = document.querySelector('meta[name="_csrf_header"]').content;
	const token = document.querySelector('meta[name="_csrf"]').content;
	
	let atndBtn;

	// 화면 로드 시 공통코드 조회
	window.onload = function () {
		
		// 출/퇴근 확인 조회 함수
		selectCmt();
		
	
	}
	
	function selectCmt() {
		fetch(
			"/mainCmt",

			{
				method: "POST"
				, headers: {
					'header': header,
					"Content-Type": "application/json",
					'X-CSRF-Token': token
				}
				, body: JSON.stringify({
					btnType: "cmtBtn"
				})

			})
			.then(resp => resp.json()) // 응답 객체를 매개변수로 얻어와 파싱
			.then(data => {
				atndBtn = data.result;
				console.info(atndBtn);
				
				const btn = document.getElementById("atndBtn");
					
					if(atndBtn == "strNull"){
						btn.disabled = false;
						btn.textContent = "출근하기"; // 버튼 텍스트 변경
					}
					else if(atndBtn == "strNn"){
						btn.disabled = true;
						btn.textContent = "출근하기"; // 버튼 텍스트 변경
					}
					else if(atndBtn == "endNull"){
						btn.disabled = false;
						btn.textContent = "퇴근하기"; // 버튼 텍스트 변경
					} 
					else {
						btn.disabled = true;
						btn.textContent = "퇴근하기"; // 버튼 텍스트 변경
					}
			})
	};

	// 출/퇴근 버튼 처리
	function cmtBtn() {
		console.info(header);
		fetch(
			"/insertCmt",
			{
				method: "POST"
				, headers: {
					'header': header,
					"Content-Type": "application/json",
					'X-CSRF-Token': token
				}
				/*, body: JSON.stringify({
					btnType: id
				})*/

			})
			.then(response => {
				console.info(response);
				Swal.fire({
					title: "출근 완료",
					icon: "success",
					confirmButtonText: "확인"
				}).then(function () { // 확인 클릭 시 실행
					atndBtn = "end";
					window.location.href = '/cmt-stts'; // 출퇴근 현황 페이지로 이동
				});
				
            })
	};

</script>
</div>
</body>

</html>