<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"> 
	<head>
		<title>test title</title>
		<link href="/style.css" rel="stylesheet">
	</head>	
	<body>
		<h1>test.html</h1> 
		<div th:if="${session.id != null}">
			<span th:text="${session.id}"></span>님
			<button th:onclick="location.href='/memberLogout'">로그아웃</button>
			<button th:onclick="location.href='/memberUpdate'">회원정보</button><br>
		</div>
		<div>
			<button th:onclick="location.href='/memberJoin'">회원가입</button>
			<button th:onclick="location.href='/memberList'">회원목록</button>
			<button th:onclick="location.href='/memberLogin'">로그인</button>
			<button th:onclick="location.href='/boardList'">글목록</button>
			<button th:onclick="location.href='/boardWrite'">글쓰기</button>
		</div>
		https://github.com/Jioh0106/deepen_team.git
		dsdfdfsfdf
	</body>
</html>