<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepen.mapper.AttendanceMapper">

	
	<select id="getAbsenceList" resultType="Map">
		SELECT *
		FROM ABSENCE_VIEW 
	</select>
	
	<select id="getCommonList" resultType="com.deepen.domain.CommonDetailDTO">
		SELECT common_detail_code, common_detail_name
		FROM common_detail
		WHERE common_detail_status = 'Y'
		<if test="code != null">
			AND REGEXP_LIKE(common_detail_code, '^${code}')
		</if>
	</select>
	
	
	<insert id="insertLoab">
		INSERT INTO ABSENCE(emp_id, absence_type, absence_start, absence_end, request_no, absence_remark)
		VALUES()
	</insert>
	
	<select id="getEmpList" resultType="com.deepen.domain.EmployeesDTO">
		SELECT *
		FROM EMPLOYEES
		WHERE emp_role = #{emp_role}
	</select>
</mapper>



