<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepen.mapper.CommonMapper">

	
	<select id="commonList" resultType="map">
		SELECT 
			common_code, common_name, common_content, common_status, common_display, 'select' AS row_type
		FROM 
			common
		ORDER BY
			common_display
	</select>
	
	<select id="commonDtlList" resultType="map" parameterType="string">
		SELECT 
			common_detail_code, common_detail_name, common_detail_status, common_detail_display, 'select' AS row_type
		FROM 
			common_detail
		WHERE 
			REGEXP_REPLACE(common_detail_code, '[0-9]') = #{value}
		ORDER BY
			common_detail_display
	</select>
	
	<insert id="insertCommonList" parameterType="com.deepen.domain.CommonDTO">
		INSERT INTO common (
			common_code
		  , common_name
		  , common_content
		  , common_status
		
		) VALUES ( 
			#{commonCode}
		  , #{commonName}
		  , #{commonContent}
		  , #{commonStatus}
		)
	</insert>
	
	<insert id="insertDetailList" parameterType="com.deepen.domain.CommonDTO">
		INSERT INTO common_detail (
			common_detail_code
		  , common_detail_name
		  , common_detail_status
		
		) VALUES ( 
			#{commonCode}
		  , #{commonName}
		  , #{commonStatus}
		)
	</insert>
	
	<update id="updateCommonList" parameterType="com.deepen.domain.CommonDTO">
			UPDATE common
			SET common_code = #{commonCode}
				, common_name = #{commonName}
				, common_content = #{commonContent}
				, common_status = #{commonStatus}
				<if test = 'commonDisplay != null and commonDisplay != ""'>
		  		, common_display = #{commonDisplay}
		  		</if>
			WHERE common_code = #{commonCode}
	</update>
	
	<update id="updateDetailList" parameterType="com.deepen.domain.CommonDTO">
			UPDATE common_detail
			SET common_detail_code = #{commonCode}
				, common_detail_name = #{commonName}
				, common_detail_status = #{commonStatus}
				<if test = 'commonDisplay != null and commonDisplay != ""'>
		  		, common_detail_display = #{commonDisplay}
		  		</if>
			WHERE common_detail_code = #{commonCode}
	</update>
	
	
	
</mapper>



