<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.deepen.mapper.EquipmentHstryMapper">

	<select id="yearMonthList" resultType="map">
		SELECT 
		    TO_CHAR(ADD_MONTHS(DATE '2024-12-01', LEVEL - 1), 'YYYY-MM') AS "yearMonth"
		FROM 
		    DUAL
		CONNECT BY 
		    LEVEL <![CDATA[<=]]> MONTHS_BETWEEN(TRUNC(SYSDATE, 'MM'), DATE '2024-12-01') + 1
		ORDER BY 
		    TO_CHAR(ADD_MONTHS(DATE '2024-12-01', LEVEL - 1), 'YYYY-MM') desc
	</select>
	
	<select id="equipmentInfo" resultType="map" parameterType="map">
		SELECT
			  info_no as "no"
			, info_sn as "sn"
			, info_nm as "name"
		FROM
			 equipment_info
		WHERE
			info_useyn = 'Y'
		ORDER BY
			info_buy_date DESC
	</select>
	
	<select id="selectStts" resultType="map">
		SELECT
			  common_detail_code AS "code"
			, common_detail_name AS "name"
		FROM
			common_detail
		WHERE
			REGEXP_REPLACE(COMMON_DETAIL_CODE, '[0-9]') = 'MNTP'
		AND
			common_detail_status = 'Y'
		ORDER BY
			common_detail_display
	</select>
	
	<select id="equipmentHstry" resultType="map" parameterType="map">
		SELECT
			   hsty_no AS "hstyNo"
			 , TO_CHAR(info_no) AS "infoNo"
			 , hsty_type AS "hstyType"
			 , TO_CHAR(hsty_date, 'YYYY-MM-DD') AS "hstyDate"
			 , hsty_dtl AS "hstyDtl"
			 , hsty_prfr AS "hstyPrfr"
			 , TO_CHAR(hsty_reg_date, 'YYYY-MM-DD') AS "regDate"
			 , TO_CHAR(hsty_mdfn_date, 'YYYY-MM-DD') AS "mdfnDate"
			 , 'select' AS "rowType"
		FROM
			equipment_history
		<where>
			<if test="yearMonth != null and yearMonth != ''">
				 AND TO_CHAR(hsty_date, 'YYYY-MM') = #{yearMonth}
		 	</if>
		 	<if test="name != null and name != '' or month != null and month != '' or chkListSize != 0">
			 	 <choose>
			 		<when test="name != null and name != '' and month != null and month != '' and chkListSize != 0">
			 			AND (
	                        (SELECT info_nm 
			                   FROM equipment_info 
			                   WHERE info_no = equipment_history.info_no) 
			                   LIKE '%' || #{name} || '%'
	                        AND TO_CHAR(hsty_date, 'YYYY-MM') = #{month}
	                        AND hsty_type IN
	                        <foreach item="item" index="index" collection="chkList" open="(" separator="," close=")">
	                            #{item}
	                        </foreach>
	                    )
			 		</when>
			 		<!-- 셋 중 하나만 해당할 경우 OR -->
	                <otherwise>
	                        <if test="name != null and name != ''">
	                            (SELECT info_nm 
			                   FROM equipment_info 
			                   WHERE info_no = equipment_history.info_no) 
			                   LIKE '%' || #{name} || '%'
	                        </if>
	                        <if test="name != null and name != '' and chkListSize != 0">
	                            AND
	                        </if>
	                        <if test="chkList != null and chkList.size() > 0">
	                            hsty_type IN
		                        <foreach item="item" index="index" collection="chkList" open="(" separator="," close=")">
		                            #{item}
		                        </foreach>
	                        </if>
	                        <if test="(chkListSize != 0 or (name != null and name != '')) and (month != null and month != '')">
						        AND
						    </if>
						    <if test="month != null and month != ''">
						        TO_CHAR(hsty_date, 'YYYY-MM') = #{month}
						    </if>
	                </otherwise>
			 	</choose>
		 	</if>
		</where>
		ORDER BY
			hsty_date DESC
	</select>
	
	<insert id="insert" parameterType="map">
		INSERT INTO equipment_history (
			hsty_no
		  , info_no
		  , hsty_type
		  , hsty_date
		  , hsty_dtl
		  , hsty_prfr
		  , hsty_reg_date
		
		) VALUES ( 
			equipment_history_seq.NEXTVAL
		  , TO_NUMBER(#{infoNo})
		  , #{hstyType}
		  , TO_DATE(#{hstyDate}, 'YYYY-MM-DD')
		  , #{hstyDtl}
		  , #{hstyPrfr}
		  , CURRENT_DATE
		)
	</insert>
	
	<update id="update" parameterType="map">
		UPDATE equipment_history 
		SET   hsty_date			= TO_DATE(#{hstyDate}, 'YYYY-MM-DD')
			, info_no			= #{infoNo}
			, hsty_type			= #{hstyType}
			, hsty_dtl			= #{hstyDtl}
			, hsty_mdfn_date	= CURRENT_DATE
		WHERE hsty_no 			= #{hstyNo}
	</update>
	
	<delete id="delete" parameterType="map">
		DELETE 
		  FROM equipment_history
		 WHERE hsty_no = #{hstyNo}
	</delete>

	
</mapper>



