<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepen.mapper.InventoryMapper">
<!-- 재고현황 매퍼 -->
<select id="inventoryStatus">
	select * from inventory

</select>



</mapper>