<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepen.mapper.ProductionHistoryMapper">

<!-- 생산이력 뷰 -->
<select id="historyList" resultType="java.util.Map">
	SELECT 
	plan_id AS planId,
	wi_no AS wiNo,
	process_name AS processName,
	line_no AS lineNo,
	judgement,
	end_time AS endTime,
	product_name AS productName,
	product_type AS productType
	FROM
	prdct_history
</select>



</mapper>