<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepen.mapper.RequestMapper">

	<select id="getAbsenceWithRequest" resultType="Map">
		SELECT * 
		FROM ABSENCE_VIEW
		WHERE REQUEST_NO = #{request_no}
	</select>
    
	<update id="updateStatus" parameterType="java.util.Map">
		UPDATE request
		SET 
			request_status = #{status}
			<if test="rejection != null">
				, REQUEST_REJECTION = #{rejection}
			</if>		
			<if test="high != null">
				, HIGH_APPROVAL = #{high}
			</if>		
		WHERE request_no = #{request_no}
	</update>
	
	<!-- 요청내역 상태 가져오기 -->
	<select id="getRequest" parameterType="java.lang.Integer" resultType="Map">
	 select *
	 from request
	 where request_no = #{request_no}
	</select>
	
	
</mapper>


