<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deepen.mapper.VacationMapper">

	<select id="selectEmpAthr" parameterType="String" resultType="map">
		SELECT emp_id, emp_role, emp_dept, emp_no
		FROM employees
		WHERE emp_id = #{value}
	</select>
	
	<select id="selectUseVctnList" parameterType="hashMap" resultType="map">
		SELECT
			  vctn.vacation_no AS "vctnNo"
			, emp.emp_id AS "empId"
			, emp.emp_name AS "empNm"
			, dept.common_detail_name AS "deptNm"
			, TO_CHAR(vctn.vacation_start, 'YYYY-MM-DD') || ' ~ ' || TO_CHAR(vctn.vacation_end, 'YYYY-MM-DD') AS "useDate"
			, se.common_detail_name AS "seNm"
			, vctn.vacation_total AS "useDays"
			, TO_CHAR(vctn.vacation_start, 'YYYY-MM-DD') AS "vctnStart"
			, TO_CHAR(vctn.vacation_end, 'YYYY-MM-DD') AS "vctnEnd"
			, NVL2(vctn.vacation_note, vctn.vacation_note, ' ') AS "rmrk"
			<if test="requestNo != null and requestNo != ''">
				, vctn.request_no AS "requestNo"
				, NVL2(rqst.high_approval, rqst.high_approval, rqst.middle_approval) AS "aprvId"
				, (SELECT emp_name FROM employees WHERE emp_id = NVL2(rqst.high_approval, rqst.high_approval, rqst.middle_approval)) AS "aprvName"
				, (SELECT common_detail_name FROM common_detail WHERE common_detail_code = emp.emp_position) AS "empPst"
				, TO_CHAR(rqst.request_date, 'YYYY-MM-DD') AS "vctnApp"
				, rqst.middle_approval AS "middleAprv"
				, NVL2(rqst.high_approval, rqst.high_approval, ' ') AS "highAprv"
				, rqst.request_status AS "status"
			</if>
		FROM 
			vacation vctn
		LEFT JOIN
			employees emp
		ON
			vctn.vacation_leave = emp.emp_id
		LEFT JOIN
			common_detail dept
		ON
			emp.emp_dept = dept.common_detail_code
		LEFT JOIN
			common_detail se
		ON
			vctn.vacation_type = se.common_detail_code
		LEFT JOIN
			request rqst
		ON
			vctn.request_no = rqst.request_no
		<where>
			<if test="requestNo == null">
				AND rqst.request_status = 'RQST005'
			</if>
			<if test='empRole == "ATHR002"'>
			 	AND emp.emp_dept = #{empDept}
			</if>
			<if test='empRole == "ATHR003"'>
			 	AND vctn.vacation_leave = #{empId}
			</if>
			<if test="bgnDate != null and bgnDate != '' and endDate != null and endDate != ''">
	            AND vctn.vacation_start <![CDATA[ <= ]]> #{endDate}
	            AND vctn.vacation_end <![CDATA[ >= ]]> #{bgnDate}
        	</if>
			<if test="empInfo != null and empInfo != ''">
	            AND (emp.emp_id LIKE '%' || #{empInfo} || '%' 
	            OR emp.emp_name LIKE '%' || #{empInfo} || '%')
        	</if>
			<if test="requestNo != null and requestNo != '' and requestNo != 0">
	            AND vctn.request_no = #{requestNo}
        	</if>
			<if test="vctnNo != null and vctnNo != ''">
	            AND vctn.vacation_no = #{vctnNo}
        	</if>
        </where>
		ORDER BY
			vctn.vacation_start DESC
	</select>
	
	<select id="selectVctnDaysList" parameterType="hashMap" resultType="map">
		SELECT
			  emp.emp_id AS "empId"
			, emp.emp_name AS "empNm"
			, dept.common_detail_name AS "deptNm"
			, SUM(CASE 
			        WHEN rqst.request_status = 'RQST005' THEN vctn.vacation_total 
			        ELSE 0 
			      END) AS "useDays"
			, emp.emp_no
		FROM 
			employees emp
			
		LEFT JOIN
			vacation vctn
		ON
			vctn.vacation_leave = emp.emp_id
		LEFT JOIN
			common_detail dept
		ON
			emp.emp_dept = dept.common_detail_code
		LEFT JOIN
			request rqst
		ON
			vctn.request_no = rqst.request_no
		<where>
				<!--AND rqst.request_status = 'RQST005'-->
			<if test='empRole == "ATHR002"'>
			 	AND emp.emp_dept = #{empDept}
			</if>
			<if test='empRole == "ATHR003"'>
			 	AND vctn.vacation_leave = #{empId}
			</if>
			<if test="bgnDate != null and bgnDate != '' and endDate != null and endDate != ''">
	            AND vctn.vacation_start <![CDATA[ <= ]]> #{endDate}
	            AND vctn.vacation_end <![CDATA[ >= ]]> #{bgnDate}
        	</if>
			<if test="empInfo != null and empInfo != ''">
	            AND (emp.emp_id LIKE '%' || #{empInfo} || '%' 
	            OR emp.emp_name LIKE '%' || #{empInfo} || '%')
        	</if>
		</where>
		GROUP BY
			emp.emp_id, emp.emp_name, dept.common_detail_name, emp.emp_no
		ORDER BY
			emp.emp_no
	</select>

	<select id="selectCommonDtl" resultType="map">
		SELECT
			  common_detail_code AS code
			, common_detail_name AS name
			, common_detail_display AS display
		FROM
			common_detail
		WHERE
			REGEXP_REPLACE(COMMON_DETAIL_CODE, '[0-9]') = 'VCTN'
		AND
			common_detail_status = 'Y'
		ORDER BY
			common_detail_display
	</select>
	
	<select id="selectEmpInfo" resultType="map" parameterType="hashMap">
		SELECT 
			  emp_id AS "empId"
			, emp_no AS "empNo"
			, emp_name AS "empName"
			, emp_role AS "empRole"
			, emp_dept AS "empDept"
			, TO_CHAR(emp_hire_date, 'YYYYMMDD') AS "hireDate"
			, (SELECT NVL2(SUM(vacation_total), SUM(vacation_total), 0) 
				FROM vacation v
				LEFT JOIN request r
				ON v.request_no = r.request_no
				WHERE vacation_leave = #{empId}
				<if test="type != null and type != ''">
					AND vacation_type = #{type}
				</if>
				AND r.request_status = 'RQST005'
				AND EXTRACT(YEAR FROM vacation_start) = EXTRACT(YEAR FROM SYSDATE)) AS "total"
		FROM 
			employees
		WHERE 
			emp_id = #{empId}
	</select>
	
	<select id="vctnDays" resultType="map" parameterType="String">
		SELECT 
			  emp_id AS "empId"
			, emp_no AS "empNo"
			, emp_name AS "empName"
			, emp_role AS "empRole"
			, emp_dept AS "empDept"
			, TO_CHAR(emp_hire_date, 'YYYYMMDD') AS "hireDate"
			, (SELECT NVL2(SUM(vacation_total), SUM(vacation_total), 0) 
				FROM vacation 
				WHERE vacation_leave = #{value}
				AND EXTRACT(YEAR FROM vacation_start) = EXTRACT(YEAR FROM SYSDATE)) AS "total"
		FROM 
			employees
		WHERE 
			emp_id = #{value}
	</select>
	
	<select id="selectAprvr" resultType="map">
		SELECT 
			  emp_id AS "empId"
			, emp_name AS "empName"
			, dept.common_detail_name AS "dept"
			, pstn.common_detail_name AS "pstn"
		FROM
			COMMON_DETAIL dept
		LEFT JOIN
			EMPLOYEES emp
		ON
			dept.COMMON_DETAIL_CODE = emp.EMP_DEPT
		LEFT JOIN
			COMMON_DETAIL pstn
		ON
			pstn.COMMON_DETAIL_CODE = emp.EMP_POSITION 
		WHERE
			(TO_CHAR(emp.emp_exit_date) IS NULL OR emp.emp_exit_date <![CDATA[>]]> CURRENT_DATE)
			<choose>
		        <when test="role == 'ATHR001'">
		            AND emp_role = 'ATHR001'
		        </when>
		        <otherwise>
		            AND emp_role = 'ATHR002'
		        </otherwise>
		    </choose>
		ORDER BY
			emp_no
	</select>
	
	<insert id="insertRequest" parameterType="map">
		INSERT INTO request (
		    request_type
		  , request_status
		  , request_date
		  , request_deadline
		  <choose>
	        <when test="role == 'ATHR001'">
	            , high_approval
	        </when>
	        <otherwise>
	            , middle_approval
	        </otherwise>
	     </choose>
		  , emp_id
		
		) VALUES ( 
		    #{rqstType}
		  	<choose>
		        <when test="role == 'ATHR001'">
		            , 'RQST005'
		        </when>
		        <otherwise>
		            , 'RQST001'
		        </otherwise>
	     	</choose>
		  , CURRENT_DATE
		  , CURRENT_DATE + 5
		  , #{aprvId}
		  , #{leaveId}
		)
		
		<selectKey resultType="int" keyProperty="no" order="AFTER">
       		SELECT "ISEQ$$_83626".currval FROM dual
    	</selectKey>
	</insert>
	
	<insert id="insertVctn" parameterType="map">
		INSERT INTO vacation (
		    vacation_no
		  , vacation_type
		  , vacation_start
		  , vacation_end
		  , vacation_appdate
		  , vacation_total
		  , vacation_leave
		  , request_no
		  , vacation_note
		
		) VALUES ( 
		    vacation_seq.nextval
		  , #{vctnType}
		  , TO_DATE(#{startDate})
		  , TO_DATE(#{endDate})
		  , sysdate
		  , #{total}
		  , #{leaveId}
		  , #{no}
		  , #{rmrk}
		)
	</insert>
	
	<!-- 특정 월의 휴가 사용 일수 조회 -->
	<select id="getMonthlyVacationDays" parameterType="map" resultType="int">
	    SELECT COALESCE(SUM(vacation_total), 0)
	    FROM vacation
	    WHERE vacation_leave = #{empId}
	    AND TO_CHAR(vacation_start, 'YYYY-MM') = #{paymentMonth}
	    AND vacation_type IN ('VCTN001') -- 연차휴가만 계산
	    AND request_no IN (
	        SELECT request_no 
	        FROM request 
	        WHERE request_status = 'RQST001' -- 승인된 요청만
	    )
	</select>


</mapper>



